Value interface (\S+)
Value description (([\S\s]+\.{3})|(\-)|(\S+)(?:(?!\s{2}).)+)
#Description can be '-' or a single word, multiple word separated with spaces. In case it longer than 29 chars, the it will contain '...' at the end
Value admin (\S+)
Value oper (\w+)
Value autoneg (\S+)
Value speed (\S+)
Value mtu (\d+)
Value altname (\S+)
Value lanes ([\d,]+)
Value fec (\S+)
Value dhcp_rl (\d+)
Value sub (\S+)

Start
  ^\s*${interface}\s+${description}\s+${admin}\s+${oper}\s+${speed}\s+${mtu}\s+${lanes}\s+${fec}\s+${dhcp_rl}\s+${sub}\s*$$ -> Record
  ^\s*${interface}\s*${description}\s*${oper}\s*${admin}\s*${speed}\s*${mtu}\s*$$ -> Record
  ^\s*${interface}\s*${description}\s*${oper}\s*${admin}\s*${speed}\s*${mtu}\s*${altname}\s*$$ -> Record
  ^\s*${interface}\s*${description}\s*${oper}\s*${admin}\s*${autoneg}\s*${speed}\s*${mtu}\s*${altname}\s*$$ -> Record
