Value IFACE (\S+)
Value STATE (\S+)
Value RX_OK (\d+)
Value RX_BPS (\S+)
Value RX_PPS (\S+)
Value RX_UTIL (\S+)
Value RX_ERR (\d+)
Value RX_DRP (\d+)
Value RX_OVR (\d+)
Value TX_OK (\d+)
Value TX_BPS (\S+)
Value TX_PPS (\S+)
Value TX_UTIL (\S+)
Value TX_ERR (\d+)
Value TX_DRP (\d+)
Value TX_OVR (\d+)

Start
  ^\s*${IFACE}\s+${STATE}\s+${RX_OK}\s+${RX_BPS}\s+${RX_PPS}\s+${RX_UTIL}\s+${RX_ERR}\s+${RX_DRP}\s+${RX_OVR}\s+${TX_OK}\s+${TX_BPS}\s+${TX_PPS}\s+${TX_UTIL}\s+${TX_ERR}\s+${TX_DRP}\s+${TX_OVR}\s*$$ -> Record
  ^\s*${IFACE}\s+${STATE}\s+${RX_OK}\s+${RX_BPS}\s+${RX_UTIL}\s+${RX_ERR}\s+${RX_DRP}\s+${RX_OVR}\s+${TX_OK}\s+${TX_BPS}\s+${TX_UTIL}\s+${TX_ERR}\s+${TX_DRP}\s+${TX_OVR}\s*$$ -> Record
  ^\s*${IFACE}\s+${STATE}\s+${RX_OK}\s+${RX_ERR}\s+${RX_DRP}\s+${RX_OVR}\s+${TX_OK}\s+${TX_ERR}\s+${TX_DRP}\s+${TX_OVR}\s*$$ -> Record

EOF
